version: "3.7"

services:
  app:
    image: spoked/riven:latest
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=UTC
    volumes:
      - ${APP_DATA_DIR}/data:/riven/data
      - ${APP_DATA_DIR}/mount:/mnt:rshared
    devices:
      - /dev/fuse:/dev/fuse:rwm
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    privileged: true
